<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <nav className="max-w-[768px] mx-auto">
        <ul className="flex text-blue-500 gap-4 justify-between">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/about">
                <li>About</li>
            </a>
            <a href="/login">
                <li>Login</li>
            </a>
            <a href="/register">
                <li>Register</li>
            </a>
        </ul>
    </nav>

</body>

</html>