<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>

    <form class="flex flex-col gap-4 max-w-[480px] mx-auto" action="/image" method="post" enctype="multipart/form-data">
        <input class="border-2 py-2 rounded-[8px]" type="file" name="avatar" >
        <input class="border-2 py-2 rounded-[8px]" type="file" name="avatar" >
        <input class="border-2 py-2 rounded-[8px]" type="file" name="avatar" >
        <input class="border-2 py-2 rounded-[8px]" type="file" name="avatar" >

        <button class="bg-red-300 px-2 py-1 rounded-[10px]">submit</button>
    </form>
</body>

</html>