<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Node file Uploader</h1>
    <form action="/home" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <button>upload</button>
    </form>


    <div>
        <%if(data.length> 0){%>
            <%(data.map((img)=> {%>
                <div>
                    <img width="150px" src=<%=img.url%> alt="<%= img.url%>">
                </div>

                <%}))%>
                    <%}%>
    </div>
</body>

</html>